$light-blue: #009fe3;
$light-gray: #a0aaa2;
$section-light: #f8f8f8;
$black: #141414;

//media width

$width1199: 1199px;
$width991: 991px;
$width767: 767px;
$width575: 575px;
$width520: 520px;
$width480: 480px;